<div class="modal fade" id="exchangeUnavailableModal" tabindex="-1" role="dialog" aria-labelledby="exchangeUnavailableModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content tc">
      <div class="modal-body pr6 pl6">
        <h2 class="pt1 dib">Service unavailable</h2>
        <p class="pt2">Clear Grain Exchange is currently unavailable.</p>
        <p>Please email us on support@cleargrain.com.au or contact us on 1800 000 410. We will be happy to assist with any questions.</p>
      </div>
      <button type="button" class="btn btn-default mb4 tc center fw5 retail-button-background-colour" data-dismiss="modal">Close</button>
      <div class="cgx-icon center mt1"></div>
    </div>
  </div>
</div>
