<div class="row">
  <div class="col-md-12">
    <price-chart snapshot={snapshot} hero={hero} silo={silo} prices_last_updated_at={lastUpdatedAt}
                 is_chilled_out={isChilledOut} limited_zoom_options={limitedZoomOptions}
                 additional_class=fa-2x></price-chart>
  </div>
</div>
